<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>



  <!--
   https://mybatis.org/mybatis-3/configuration.html#settings
   -->
  <settings>
    <setting name="cacheEnabled" value="true"/>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>

  <!--
  https://mybatis.org/mybatis-3/configuration.html#typeAliases
  -->
  <typeAliases>
    <!-- 别名方式1，一个一个的配置 type中放置的是类的全路径，alias中放置的是类别名
    <typeAliase type="com.mybatis.demo.Entity.User" alias="UserBean"/> -->
    <!-- 别名方式2，自动扫描，将JAVA类的类名作为类的类别名 -->
    <!--<package name="com.mybatis.demo.Entity"/>-->

    <!-- 笔名方式3 @Alias("author") 通过在 -->
    <!-- 建议使用全路径，因为在xml中可以直接定位到类-->
    <typeAlias alias="User" type="example.mapper.User"/>
  </typeAliases>


  <plugins>
<!--    <plugin interceptor="mybatis.plugin.ExamplePlugin"></plugin>-->
    <plugin interceptor="mybatis.plugin.ThresholdInterceptor">
      <property name="slowSqlTime" value="0"/>
    </plugin>
  </plugins>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/test?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="example/UserMapper.xml"/>
  </mappers>
</configuration>