<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="example.mapper.UserMapper">
  <cache/>
  <!-- 自定义返回结果集 -->
  <delete id="deleteById" parameterType="User">
       delete from `user` where id = #{id}
   </delete>


  <insert id="insertUser" keyProperty="id" parameterType="User" useGeneratedKeys="true">
    insert into  `user` (name) values(#{name});
  </insert>
  <insert id="insertUsers" keyProperty="id" parameterType="User" useGeneratedKeys="true">
    insert into `user` (name) values
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.name})
    </foreach>
  </insert>

  <insert id="insertUserUseSelectKey" parameterType="User">
    <selectKey keyProperty="id" resultType="java.lang.Integer">
      select LAST_INSERT_ID()
    </selectKey>
    insert into `user` (id,name) values(#{id},#{name});
  </insert>
  <insert id="insertUsersUseSelectKey" parameterType="User">
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.id},#{item.name})
    </foreach>
    insert into `user` (id,name)
    values
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      select LAST_INSERT_ID()
    </selectKey>
  </insert>
  <resultMap id="userMap" type="User">
    <id column="id" javaType="java.lang.Integer" property="id"/>
    <result column="name" javaType="java.lang.String" property="name"/>
  </resultMap>
  <select id="getUserByID" parameterType="java.lang.Integer" resultMap="userMap" useCache="true">
        select * from `user` where id = #{id}
  </select>
  <select id="getMapByID" parameterType="java.lang.Integer" resultType="map" useCache="true">
        select * from `user` where id = #{id}
  </select>

  <select id="getUserByIDAndName" resultMap="userMap" useCache="true">
        select * from `user` where id = #{id} and name = #{param2}
  </select>
  <select id="getAll" resultMap="userMap" useCache="true">
        select * from `user`
  </select>


  <select id="getAllMap" resultType="example.domain.User">
        select * from `user`
  </select>

  <update id="updateName" parameterType="User">
       update `user` set name=#{name} where id = #{id}
   </update>
</mapper>