<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Properties>
    <Property name="var.output.pattern">
      [%-5p][%t]  %msg %n
    </Property>
  </Properties>
  <Appenders>
    <Console name="stdout" target="SYSTEM_OUT">
      <PatternLayout pattern="${var.output.pattern}"/>
    </Console>
  </Appenders>
  <Loggers>
    <AsyncRoot level="TRACE">
      <AppenderRef ref="stdout"/>
    </AsyncRoot>
  </Loggers>
</Configuration>
